@page "{DeviceId}"
@using HomeControl.Views.Shared
@model HomeControl.Pages.Devices.EditDeviceModel
@{
	Layout = "MenuPage_Layout";
	ViewData["Title"] = "Edit Device";
}

@section Dialogs {
	<dialog id="ChangaDisplayNameDialog">
		<form method="post" class="grid card-padding" asp-page-handler="Rename">
			<div class="grid">
				<label for="DisplayName">Name</label>
				<input id="DisplayName" name="DisplayName" class="bound" data-binding-value="integrationDevice.displayName" />
			</div>
			<div class="flex" style="justify-content: right">
				<button class="shadow-2">Rename</button>
				<button class="shadow-2" type="button" onclick="closeDialogById('ChangaDisplayNameDialog')">Cancel</button>
			</div>
		</form>
	</dialog>

	<dialog id="RemoveDeviceQuestionDialog">
		<div class="grid padded">
			<span>Remove Device?</span>
			<form class="flex" style="justify-content: right" method="post" asp-page-handler="RemoveDevice" asp-route-DeviceId="@Model.ViewModel.Device?.Id">
				<button class="shadow-2">Remove</button>
				<button class="shadow-2" type="button" onclick="closeDialogById('RemoveDeviceQuestionDialog')">Cancel</button>
			</form>
		</div>
	</dialog>
}

<div class="grid body-content">
	@if (Model.ViewModel.Device == null)
	{
		<h2 class="lesser">Unknown Device</h2>
	}
	else
	{
		<h2 class="lesser bound" data-binding-inner="integrationDevice.displayName"></h2>

		switch (Model.ViewModel.IntegrationDevice.InitilizationState)
		{
			case HomeControl.Integrations.DeviceInitilizationState.Success:
				<div class="card shadow-2">
					@if (Model.ViewModel.IntegrationDevice.SupportsRename)
					{
						<div class="card-element grid-1fr-auto card-padding">
							<div class="centered-content">
								<b class="field-label">Name:</b>
								<b class="bound" data-binding-inner="integrationDevice.displayName"></b>
							</div>
							<button class="shadow-2" type="button" onclick="showDialogById('ChangaDisplayNameDialog')">Rename</button>
						</div>
					}
					<div class="card-element card-padding grid-1fr-auto">
						<div class="centered-content">
							<b>Remove Device</b>
						</div>
						<button class="shadow-2" onclick="showDialogById('RemoveDeviceQuestionDialog')">Remove</button>
					</div>

					<a class="card-a card-element" asp-page="/Devices/DeviceOptions" asp-route-DeviceId="@Model.ViewModel.Device?.Id">
						<div class="grid-1fr-auto card-padding">
							<div class="centered-content">
								<b>Options</b>
							</div>

							<div class="centered-content">
								<img src="~/svg/arrow-right.svg" />
							</div>
						</div>
					</a>
					<div class="card-element grid-1-2 card-padding">
						@await Html.PartialAsync("DeviceInformation", new DeviceInformationModel(Model.ViewModel.IntegrationDevice))
					</div>
				</div>
				break;
			case Integrations.DeviceInitilizationState.Error:
				<b class="bound" data-binding-inner="integrationDevice.initializationError" style="color: darkred"></b>
				break;
			default: throw new NotImplementedException();
		}
	}
</div>