@page "{DeviceId}"
@using HomeControl.Views.Shared
@model HomeControl.Pages.Devices.EditDeviceModel
@{
	Layout = "MenuPage_Layout";
	ViewData["Title"] = "Edit Device";
}

@section Dialogs {
	<dialog id="ChangaDisplayNameDialog">
		<form method="post" class="grid card-padding" asp-page-handler="Rename">
			<div class="grid">
				<label for="DisplayName">Name</label>
				<input id="DisplayName" name="DisplayName" class="bound" data-binding-value="integrationDevice.displayName"/>
			</div>
			<div class="flex" style="justify-content: right">
				<button>Rename</button>
				<button type="button" onclick="closeDialogById('ChangaDisplayNameDialog')">Cancel</button>
			</div>
		</form>
	</dialog>

	<dialog id="RemoveDeviceQuestionDialog">
		<div class="grid padded">
			<span>Remove Device?</span>
			<form class="flex" style="justify-content: right" method="post" asp-page-handler="RemoveDevice" asp-route-DeviceId="@Model.ViewModel.Device?.Id">
				<button class="shadow-2">Remove</button>
				<button class="shadow-2" type="button" onclick="closeDialogById('RemoveDeviceQuestionDialog')">Cancel</button>
			</form>
		</div>
	</dialog>
}

<div class="grid body-content">
	@if (Model.ViewModel.Device == null)
	{
		<h2 class="lesser">Unknown Device</h2>
	}
	else
	{
		<h2 class="lesser bound" data-binding-inner="integrationDevice.displayName"></h2>

		switch (Model.ViewModel.IntegrationDevice.InitilizationState)
		{
			case HomeControl.Integrations.DeviceInitilizationState.Success:
				<div class="card card-children-separator">
					@if (Model.ViewModel.IntegrationDevice.SupportsRename)
					{
						<!card-element class="card-padding centered-content bound" data-binding-header="integrationDevice.displayName">
							<div class="centered-content">
								<b class="field-label">Name:</b>
								<strong name="Header"></strong>
							</div>
							<button class="shadow-2" type="button" onclick="showDialogById('ChangaDisplayNameDialog')">Rename</button>
						</!card-element>
					}
					<card-element class="card-padding" header="Remove Device">
						<button class="shadow-2" onclick="showDialogById('RemoveDeviceQuestionDialog')">Remove</button>
					</card-element>

					<card-a class="card-padding" asp-page="/Devices/DeviceOptions" asp-route-DeviceId="@Model.ViewModel.Device?.Id">
						<card-element header="Options"></card-element>
					</card-a>
					<div class="grid-1-2 card-padding">
						@await Html.PartialAsync("DeviceInformation", new DeviceInformationModel(Model.ViewModel.IntegrationDevice))
					</div>
				</div>
				break;
			case HomeControl.Integrations.DeviceInitilizationState.Error:
				<b class="bound error-text" data-binding-inner="integrationDevice.initializationError"></b>
				break;
			default: throw new NotImplementedException();
		}
	}
</div>