@page
@using HomeControl.Integrations
@using HomeControl.Views.Shared
@model HomeControl.Pages.Devices.IndexModel
@{
	Layout = "MenuPage_Layout";
	ViewData["Title"] = "Devices";
}

<div class="grid body-content">
	<div class="card shadow-2 card-a-container">
		<a class="card-a" asp-page="ManageIntegrations">
			<div class="grid-1fr-auto card-padding">
				<div class="centered-content">
					<strong>Manage Integrations</strong>
				</div>

				<div class="centered-content">
					<img src="~/svg/arrow-right.svg" />
				</div>
			</div>
		</a>
	</div>

	<h2 class="lesser">TP-Link Devices</h2>

	@for (int i = 0; i < Model.ViewModel.Devices.Count; i++)
	{
		var deviceInfo = Model.ViewModel.Devices[i];

		<div class="card shadow-2">
			@switch (deviceInfo.Device.InitilizationState)
			{
				case DeviceInitilizationState.Success:
					<details>
						<summary>
							<div class="grid card-padding medium-gap" style="grid-template-columns: 1fr auto auto">
								<div class="centered-content">
									<b class="bound" data-binding-inner="devices[@(i)].device.displayName"></b>
								</div>

								@if (deviceInfo.PrimaryOption != null)
								{
									<button class="bound shadow-2" type="button" data-binding-inner="devices[@(i)].primaryOption" data-clickbinding-id="devices[@(i)].device.owner.id" data-clickbinding-featureName="devices[@(i)].primaryOption" onclick="executePageHandler('ExecuteFeature', this.dataset)"></button>
								}
								<div class="centered-content">
									<img class="summary-marker" src="~/svg/arrow-down.svg" />
									<img class="summary-marker-open" src="~/svg/arrow-up.svg" />
								</div>
							</div>
						</summary>
						@{
							var options = deviceInfo.Options.ToArray();

							for (int j = 0; j < options.Length; j++)
							{
								<div class="card-element grid-1fr-auto card-padding">
									<div class="centered-content">
										<b class="bound" data-binding-inner="devices[@(i)].options[@(j)].name"></b>
									</div>
									<button type="button" class="shadow-2" data-clickbinding-optionId="devices[@(i)].options[@(j)].id" onclick="executePageHandler('ExecuteOption', this.dataset)">Execute</button>
								</div>
							}
						}

						<div class="card-element grid-1fr-auto card-padding">
							<div class="centered-content">
								<strong>Edit</strong>
							</div>
							<a class="button-a shadow-2" asp-page="EditDevice" asp-route-DeviceId="@deviceInfo.Device.Owner.Id">Edit</a>
						</div>
						<div class="card-element grid-1-2 card-padding">
							@await Html.PartialAsync("DeviceInformation", new DeviceInformationModel(deviceInfo.Device))
						</div>
					</details>
					break;
				case DeviceInitilizationState.Error:
					<div class="card-padding">
						<div class="centered-content">
							<b class="bound" data-binding-inner="devices[@(i)].device.displayName"></b><br />
							<b class="lesser bound" style="font-size: 12px; color:darkred" data-binding-inner="devices[@(i)].device.initializationError"></b>
						</div>
					</div>
					break;
				default: throw new NotImplementedException();
			}
		</div>
	}
</div>