@page
@model ManageIntegrationsModel
@{
	Layout = "MenuPage_Layout";
	ViewData["Title"] = "Manage Integrations";
}

@section Scripts {
	<script>
		function discoverDevices()
		{
			BusyWithMessage("Discovering TP-Link devices...");

			executePageHandler("DiscoverDevices").always(() => notBusy());
		}
	</script>
}

<div class="grid body-content">
	<h2 class="lesser">TP-Link</h2>
	<card-element class="card card-padding" header="Discover Devices">
		<button type="button" class="shadow-2" onclick="discoverDevices()">Discover</button>
	</card-element>
	<card-element class="card card-padding" header="Clear Devices Cache">
		<button type="button" class="shadow-2" onclick="executePageHandler('ClearTPLinkDevicesCache')">Clear</button>
	</card-element>
</div>