@page
@model ManageDevicesModel
@{
	Layout = "MenuPage_Layout";
	ViewData["Title"] = "Manage Devices";
}

@section Scripts {
	<script>
		var discoverDevicesForm = document.getElementById("DiscoverDevicesForm");

		function DiscoveryDevices() {
			BusyWithMessage("Discovering devices...");

			discoverDevicesForm.submit();
		}
	</script>
}

<div class="grid body-content">
	<form id="DiscoverDevicesForm" method="post" asp-page-handler="DiscoverDevices" class="card shadow-2 grid-1fr-auto card-padding">
		<div class="centered-content">
			<b>Discover Devices</b>
		</div>
		<button type="button" class="shadow-2" onclick="DiscoveryDevices()">Discover</button>
	</form>
	<div class="card shadow-2 card-a-container">
		<a class="card-a" asp-page="RemoveDevice">
			<div class="grid-1fr-auto card-padding">
				<b>Remove Device</b>

				<div class="centered-content">
					<img src="~/svg/arrow-right.svg" />
				</div>
			</div>
		</a>
	</div>
</div>