@page
@model ManageIntegrationsModel
@{
	Layout = "MenuPage_Layout";
	ViewData["Title"] = "Manage Integrations";
}

@section Scripts {
	<script>
		function discoverDevices()
		{
			BusyWithMessage("Discovering TP-Link devices...");

			executePageHandler("DiscoverDevices").always(() => NotBusy());
		}
	</script>
}

<div class="grid body-content">
	<h2 class="lesser">TP-Link</h2>
	<div method="post" asp-page-handler="DiscoverDevices" class="card shadow-2 grid-1fr-auto card-padding">
		<div class="centered-content">
			<b>Discover Devices</b>
		</div>
		<button type="button" class="shadow-2" onclick="discoverDevices()">Discover</button>
	</div>
</div>