@page
@model HomeControl.Pages.Devices.RemoveDeviceModel
@{
	Layout = "MenuPage_Layout";
	ViewData["Title"] = "Remove Device";
}

@section Scripts
{
	<script>
		var removeDeviceQuestionDialog = document.getElementById("RemoveDeviceQuestionDialog");
		var deviceIdField = document.getElementById("DeviceId");

		function ShowRemoveDeviceQuestionDialog(deviceId) {
			deviceIdField.value = deviceId;

			showDialog(removeDeviceQuestionDialog);
		}

		function CloseRemoveDeviceQuestionDialog() {
			deviceIdField.value = null;

			closeDialog(removeDeviceQuestionDialog);
		}
	</script>
}

@section Dialogs
{
	<dialog id="RemoveDeviceQuestionDialog">
		<div class="grid padded">
			<span>Remove Device?</span>
			<form class="flex" style="justify-content: right" method="post" asp-page-handler="RemoveDevice">
				<input type="hidden" value="" id="DeviceId" name="DeviceId" />
				<button class="shadow-2">Remove</button>
				<button class="shadow-2" type="button" onclick="CloseRemoveDeviceQuestionDialog()">Cancel</button>
			</form>
		</div>
	</dialog>
}

<div class="grid body-content">
	@{
		foreach (var device in Model.Devices)
		{
			<div class="card shadow-2 card-padding grid-1fr-auto">
				<div class="centered-content">
					<b>@device.DisplayName</b>
				</div>
				<button class="shadow-2" type="button" onclick="ShowRemoveDeviceQuestionDialog(@Json.Serialize(device.Owner.Id))">Remove</button>
			</div>
		}
	}
</div>