@page
@model HomeControl.Pages.Devices.RoutinesModel
@{
	Layout = "MenuPage_Layout";
	ViewData["Title"] = "Routines";

	void RenderCommands()
	{
		<button onclick="showDialogById('CreateRoutineDialog')">Create Routine</button>
	}
}

@section Dialogs {
	<dialog id="CreateRoutineDialog">
		<form method="post" class="grid card-padding" asp-page-handler="CreateRoutine">
			<div class="grid">
				<label for="RoutineName">Name</label>
				<input id="RoutineName" name="RoutineName" class="bound" />
			</div>
			<div class="flex" style="justify-content: right">
				<button>Create Routine</button>
				<button type="button" onclick="closeDialogById('CreateRoutineDialog')">Cancel</button>
			</div>
		</form>
	</dialog>
}

@section Commands {
	@{
		RenderCommands();
	}
}

<div class="body-content grid">
	<div class="flex medium-to-large-display">
		@{
			RenderCommands();
		}
	</div>

	@for (int i = 0; i < Model.ViewModel.Routines.Count; i++)
	{
		var routine = Model.ViewModel.Routines[i];

		<card-a class="card card-padding" asp-page="EditRoutine" asp-route-RoutineId="@routine.Id">
			<card-element class="bound" data-binding-header="routines[@(i)].name"></card-element>
		</card-a>
	}
</div>