@page
@using HomeControl.Integrations
@model IndexModel
@{
	ViewData["Title"] = "Home";
}

<div class="grid body-content">
	@{
		foreach (var menuItem in Helpers.MainMenuHelper.MenuItems)
		{
			if (menuItem.Name == "Home") continue;

			<div class="card shadow-2 card-a-container">
				<a class="card-a" asp-area="" asp-page="@menuItem.Url">
					<div class="grid-1fr-auto card-padding">
						<strong>@menuItem.Name</strong>
						<div class="centered-content">
							<img src="~/svg/arrow-right.svg" />
						</div>
					</div>
				</a>
			</div>
		}
	}
</div>