@page
@model HomeControl.Pages.TestModel
@{
	Layout = "Test_Layout";
}

@section Scripts {
	<script src="~/js/Test.js"></script>
}

<span class="bound" data-binding-inner="firstProperty">newFirstPropertyValue</span>

<button data-binding-id="test" onclick="testAjaxPost(this.dataset)">Test</button>

<input class="bound" data-binding-value="test" />