:root {
    --mainMenuWidh: 200px;
}

.overlay {
    border-radius: 0;
    padding: 0;
    position: absolute;
    top: var(--scrollY);
    left: 0;
    width: 100%;
    height: 100vh;
}

.background40 {
    background: var(--background40);
}

.shadow-2 {
    box-shadow: var(--shadow2);
}

.shadow-4 {
    box-shadow: var(--shadow4);
}

.body-content {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120px;
}

.card {
    background: var(--elevatedBackground);
    border-radius: var(--smallBorderRadius);
    min-height: 64px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-element {
    border-bottom: 1px solid var(--background);
}

.card-padding {
    padding: var(--mediumGap);
}

.padded {
    padding: var(--smallGap) var(--mediumGap) var(--smallGap) var(--mediumGap);
}

.padded-medium {
    padding: var(--mediumGap);
}

.centered-content {
    align-content: center;
}

.field-label {
    color: var(--foreground60);
}

.card-a-container {
    font-size: inherit;
}

.bordered {
    border-color: var(--borders);
}

.lesser {
    color: var(--foreground80);
}

.medium-to-large-display {
    display: none;
}

.small-display {

}

.grid-layer-item {
    grid-row: 1;
    grid-column: 1;
}

.menu-item {
    font-size: inherit;
    border-radius: var(--smallBorderRadius);
}

.highlighted-menu-item {
    background: var(--elevatedBackground);
    border-left: 2px solid var(--highlights);
}

.menu-item-a {
    color: var(--foreground);
    text-decoration: none;
}

    .menu-item-a:link {
        color: var(--foreground);
    }

    .menu-item-a:visited {
        color: var(--foreground);
    }

    .menu-item-a:active {
        background: none;
    }

.title-displacer {
    padding: var(--mediumGap) 0 var(--mediumGap) var(--mediumGap);
}

.title-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

.main-menu-component {
    grid-column: 1;
    grid-row: 1;
}

.grid {
    display: grid;
    gap: var(--smallGap);
}

.grid-1fr-auto {
    display: grid;
    gap: var(--smallGap);
    grid-template-columns: 1fr auto;
}

.grid-2 {
    display: grid;
    gap: var(--smallGap);
    grid-template-columns: 1fr 1fr;
}

.grid-1-2 {
    display: grid;
    gap: var(--smallGap);
    grid-template-columns: 1fr;
}

.flex {
    display: flex;
    gap: var(--smallGap);
}

.flex-vertical {
    flex-direction: column;
}

.flex > button {
    width: auto;
}

.medium-gap {
    gap: var(--mediumGap);
}

.large-gap {
    gap: var(--largeGap);
}

.hidden {
    display: none;
}

#dialog-overlay {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

#main-menu-button {
    height: 40px;
    width: 40px;
}

#main-menu-overlay {
    top: calc(var(--headerHeight) + var(--scrollY));
    height: calc(100vh - var(--headerHeight));
}

#main-menu-container {
    display: grid;
}

#body-container {
    grid-column: 1;
    grid-row: 1;
    padding: var(--mediumGap);
    min-height: calc(100vh - var(--headerHeight));
}

#main-menu {
    position: sticky;
    top: var(--headerHeight);
    left: 0;
    gap: var(--smallGap);
    padding: var(--mediumGap);
    background: var(--background);
    box-shadow: var(--shadow4);
    width: var(--mainMenuWidh);
    height: calc(100vh - var(--headerHeight));
    overflow: auto;
}

#small-display-commands-section {
    position: sticky;
    margin: auto 16px 16px auto;
    padding: var(--mediumGap);
    bottom: 0;
}

#small-display-commands-toggle-button {
    width: 96px;
    height: 96px;
    border-radius: 48px;
    align-self: self-end;
}

@media (min-width: 768px) {
    .medium-to-large-display {
        display: block;
    }

    .small-display {
        display: block;
    }
    
    .title-displacer {
        width: var(--mainMenuWidh);
    }

    .title-container {
        max-width: 1000px;
    }

    .grid-1-2 {
        grid-template-columns: 1fr 1fr;
    }

    #main-menu-container {
        grid-template-columns: auto 1fr;
    }

    #main-menu {
        display: flex;
        border-right: 1px solid var(--borders);
        box-shadow: none;
        background: none;
        padding: var(--mediumGap);
    }

    #main-menu-overlay {
        display: none;
    }

    #body-container {
        grid-column: 2;
    }

    #main-menu-button {
        display: none;
    }

    #small-display-commands-section {
        display: none;
    }
}

@media (min-width: 1324px) {
    :root {
        --mainMenuWidh: 300px;
    }
}
